@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Caveat:wght@700&family=Love+Ya+Like+A+Sister&display=swap');

html, body {
/*     background: #ffcc99; */
    Background-image: url('./images/fantasy_city_cities_art_artistic_building_1920x1067.jpg');
}

#button1{
    background-color: #006600;
    color: #fff;
    outline-color: #000;
    border-color: black;
    font-size: 1px;
    font-family: 'Amatic SC', cursive;
}

#button1:hover{
    background-color: #666666;
    color: chocolate
}

#textbox{
    background-color: #fff;
    outline-color: black;
    border-color: blue;
    font-size: 20px;
    text-align: center;
    font-family: 'Amatic SC', cursive;
}
